<section id="contact-container" class="full">
  <div class="middle-earth col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
    <a href="mailto:nikhilhanda19@gmail.com" class="contactmeMail">nikhilhanda19@gmail.com</a>
    <a class="contactmeAddress" href="https://goo.gl/maps/6VzEeCwtV3r" target="_blank">
        <p>C-3A/56A Janak Puri  <i class="icon-right-big"></i></p>
        <p>New Delhi-110058</p>
    </a>
    <a class="contactmeTelephone"href="tel:+919650069974">+91 9650069974</a>
    <div class="socially">
      <a class="socially-facebook" href="https://www.facebook.com/slayslot" target="_blank"><i class="icon-facebook"></i></a>
      <a class="socially-twitter" href="https://twitter.com/slayslot" target="_blank"><i class="icon-twitter"></i></a>
      <a class="socially-linkedin" href="https://in.linkedin.com/in/slayslot" target="_blank"><i class="icon-linkedin"></i></a>
    </div>
  </div>
</section>
