<section id="work-container">
  <div id="{{view.id}}"
       class="full"
       ng-repeat="view in work.workViews">
    <div class="figure-container text-center col-xs-12 col-sm-10 col-md-10 col-lg-8"
         ng-class="{'middle-earth': $first, 'middle-earth-after': !$first}">
      <a href="{{view.anchor}}" target="_blank">
        <figure id="{{view.id}}-image" ng-mouseover="work.wobbleMe(view.id)" class="work-image img-responsive">
          <figcaption class="work-figcaption">
              <h1>{{view.title}}</h1>
              <h3>{{view.stack}}</h3>
              <h2><i class="icon-right-open"></i></h2>
          </figcaption>
        </figure>
      </a>
    </div>
  </div>
</section>
