<section id="contact-container" ng-controller="contact-controller">
  <a class="hamb"><i class="glyphicon glyphicon-menu-hamburger"></i>
  </a>
  <nav class="nav" role='navigation'>
    <div class="right">
      <ul class="right-inner">
        <li><a href="#/intro">Home</a></li>
        <li><a href="nikhilhanda.pdf">Resume</a></li>
        <li><a href="#/work">Work</a></li>
        <li><a href="#/about">About</a></li>
        <li><a href="#/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
  <h3 class="page-side-title">_Contact</h3>
  <div class="middle-earth col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
    <a href="mailto:nikhilhanda19@gmail.com" class="contactmeMail">nikhilhanda19@gmail.com</a>
    <a class="contactmeAddress" href="https://goo.gl/maps/6VzEeCwtV3r">
        <p>C-3A/56A Janak Puri  <i class="glyphicon glyphicon-arrow-right"></i></p>
        <p>New Delhi-110058</p>
    </a>
    <a class="contactmeTelephone"href="tel:+919650069974">+91 9650069974</a>
  </div>
</section>
