<section id="home-container" ng-controller="home-controller">
  <div class="middle-earth col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="middle-earth-text">
      <h1 class="myname text-center">NIKHIL HANDA</h1>
      <p class="mybrief text-center">Also known as Slayslot. I'm a <span class="thisisme">{{eatthis}}</span></p>
    </div>
    <div class="middle-earth-buttons text-center">
      <a href="#/work">
        <button class="button button--nina button--text-upper button--border-medium button--text-thin button--inverted" data-text="View Work">
          <span>V</span><span>i</span><span>e</span><span>w</span><span> </span>
          <span>W</span><span>o</span><span>r</span><span>k</span>
        </button>
      </a>
      <a href="#/about">
        <button class="button button--nina button--text-upper button--border-medium button--text-thin button--inverted" data-text="About Me">
          <span>A</span><span>b</span><span>o</span><span>u</span><span>t</span><span> </span>
          <span>M</span><span>e</span>
        </button>
      </a>
    </div>
  </div>
  <div class="cv-me text-center">
    <a class="cv-me-text" href="nikhilhanda.pdf" target="_blank"><span class="icon-doc-text-inv" aria-hidden="true"></span>Resume</a>
  </div>
  <div class="contact-me text-center">
    <a class="contact-me-text" href="#/contact"><span class="icon-mail-alt" aria-hidden="true"></span>Get in touch</a>
  </div>
</section>
