<section id="work-container" ng-controller="work-controller">
  <a class="hamb"><i class="glyphicon glyphicon-menu-hamburger"></i>
  </a>
  <nav class="nav" role='navigation'>
    <div class="right">
      <ul class="right-inner">
        <li><a href="#/intro">Home</a></li>
        <li><a href="nikhilhanda.pdf">Resume</a></li>
        <li><a href="#/work">Work</a></li>
        <li><a href="#/about">About</a></li>
        <li><a href="#/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
  <div class="dotstyle dotstyle-tooltip">
    <ul>
      <li class="current"><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Products</a></li>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Contact</a></li>
      <li><!-- dummy dot --></li>
    </ul>
  </div>
</section>
