<section id="work-container" ng-controller="work-controller">
  <h3 class="page-side-title">_Work</h3>
  <div class="dotstyle dotstyle-tooltip">
    <ul>
      <li id="trending-click" ng-click="scrollTo('trending')" class="current"><a ng-click="scrollTo('trending')">Trending Tweeps</a></li>
      <li id="heat-click" ng-click="scrollTo('heat')"><a ng-click="scrollTo('heat')" >HeatSeeker</a></li>
      <li id="audio-click" ng-click="scrollTo('audio')"><a ng-click="scrollTo('audio')" >AudioAddict</a></li>
      <li id="moz-click" ng-click="scrollTo('moz')"><a ng-click="scrollTo('moz')" >Mozpacers</a></li>
      <li id="saba-click" ng-click="scrollTo('saba')"><a ng-click="scrollTo('saba')" >Saba Hotelware</a></li>
      <li id="blog-click" ng-click="scrollTo('blog')"><a ng-click="scrollTo('blog')" >Personal Blog</a></li>
      <li><!-- dummy dot --></li>
    </ul>
  </div>
  <div id="trending" class="full">
    <div class="figure-container middle-earth text-center col-xs-12 col-sm-10 col-md-10 col-lg-8">
      <a href="http://bit.ly/trendingtweeps" target="_blank">
        <figure id="trending-image" class="work-image img-responsive">
          <figcaption class="work-figcaption">
              <h1>Trending Tweeps</h1>
              <h3>Stack: HTML5, CSS3, jQuery, Django</h3>
              <h2><i class="icon-right-open"></i></h2>
          </figcaption>
        </figure>
      </a>
    </div>
  </div>
  <div id="heat" class="full">
    <div class="figure-container middle-earth-after text-center col-xs-12 col-sm-10 col-md-10 col-lg-8">
      <a href="/heatseeker" target="_blank">
        <figure id="heat-image" class="work-image img-responsive">
          <figcaption class="work-figcaption">
              <h1>HeatSeeker</h1>
              <h3>Stack: Javascript, Unity</h3>
              <h2><i class="icon-right-open"></i></h2>
          </figcaption>
        </figure>
      </a>
    </div>
  </div>
  <div id="audio" class="full">
    <div class="figure-container middle-earth-after text-center col-xs-12 col-sm-10 col-md-10 col-lg-8">
      <a href="http://bit.ly/audioaddict" target="_blank">
        <figure id="audio-image" class="work-image img-responsive">
          <figcaption class="work-figcaption">
              <h1>AudioAddict</h1>
              <h3>Stack: HTML5, CSS3, jQuery, Django</h3>
              <h2><i class="icon-right-open"></i></h2>
          </figcaption>
        </figure>
      </a>
  </div>
  </div>
  <div id="moz" class="full">
    <div class="figure-container middle-earth-after text-center col-xs-12 col-sm-10 col-md-10 col-lg-8">
      <a href="http://mozpacers.org/" target="_blank">
        <figure id="moz-image"class="work-image img-responsive">
          <figcaption class="work-figcaption">
              <h1>Mozpacers' Website</h1>
              <h3>Stack: HTML5, CSS3, jQuery, Flask</h3>
              <h2><i class="icon-right-open"></i></h2>
          </figcaption>
        </figure>
      </a>
    </div>
  </div>
  <div id="saba" class="full">
    <div class="figure-container middle-earth-after text-center col-xs-12 col-sm-10 col-md-10 col-lg-8">
      <a href="http://www.sabahotelware.com/" target="_blank">
        <figure id="saba-image" class="work-image img-responsive">
          <figcaption class="work-figcaption">
              <h1>Saba Hotelware</h1>
              <h3>Stack: Wordpress</h3>
              <h2><i class="icon-right-open"></i></h2>
          </figcaption>
        </figure>
      </a>
    </div>
  </div>
  <div id="blog" class="full">
    <div class="figure-container middle-earth-after text-center col-xs-12 col-sm-10 col-md-10 col-lg-8">
      <a href="/blog" target="_blank">
        <figure id="blog-image" class="work-image img-responsive">
          <figcaption class="work-figcaption">
              <h1>Slayslot's Blog</h1>
              <h3>Stack: HTML5, CSS3, Javascript, Hexo</h3>
              <h2><i class="icon-right-open"></i></h2>
          </figcaption>
        </figure>
      </a>
    </div>
  </div>
</section>
